body{
  /*background-color: #f9f9f9;*/ 
  background-color: #eaeaea;
}
.heading{
  background-color: #A7D7C5;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
} 
.container-tickets{
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 8px;
  border: #000000;
  display: grid;
  grid-template-columns: auto auto;
  /*grid-gap: 20px;*/
}

@media only screen and (max-width: 768px){
  .container-tickets{
  display: grid;
  grid-template-columns: auto;
  }
}

.date-section,
.guest-section,
.details-section,
.duration-section {
  margin-bottom: 40px;
}

.date-section h2,
.guest-section h2,
.details-section h2,
.duration-section h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.time-slot{
  margin: 1px;
  max-width: 220px;
}
.time-button{
  border: none;
  padding: 6px 15px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
  background-color: #FFB347;
  border: none;
  border-radius: 15px;
  margin-left: 70px;
}
.guest-label{
  margin-bottom: 10px;
}
.guest-input{
  margin-top: 10px;
}
.count-btn{
  background-color: #FFB347;
  border: none;
  border-radius: 120px;
  font-size: 17px;
  font-weight: bold;
}

table.info-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}
table.info-table, table.info-table th, table.info-table td {
  border: 1px solid #ccc;
}
table.info-table th, table.info-table td {
  padding: 5px;
  text-align: left;
}

.summary-tickets{
  padding-left: 100px;
  padding-top: 100px;
}
.summary-table{
  border-collapse: collapse;
  /*margin: 20px auto;*/
}
table.summary-table, table.summary-table th, table.summary-table td {
  border: 1px solid black;
}
table.summary-table th, table.summary-table td{
  padding: 5px;
  text-align: left;
}
.highlight-row{
  background-color: #C0C0C0;
}

.gotoCheckout,
.gotoPayment,
.gotoConfirm,
.gotoHome{
    display: inline-block; 
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    /* background-color: #3498db; */
    background-color: #2E8A65;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}
.tkt-button{
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Details  & Payment*/
.container-details,
.container-payment{
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 8px;
  border: #000000;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  max-width: 1000px;
}
table.details-table td,
table.payment-table td{
  padding: 10px;
  text-align: left;
}
.details-table{
  margin-bottom: 40px;
}

input[type="text"][name="fullName"],
input[type="tel"][name="mobile"],
input[type="email"][name="email"],
input[type="email"][name="confirmEmail"],
select[name="gender"],
input[type="text"][name="cardNumber"],
input[type="text"][name="expiryDate"],
input[type="text"][name="cvc"],
input[type="text"][ name="nameOnCard"]{
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 14px; 
  margin-top: 5px; 
}

input[type="text"][name="fullName"]:focus,
input[type="tel"][name="mobile"]:focus,
input[type="email"][name="email"]:focus,
input[type="email"][name="confirmEmail"]:focus,
select[name="gender"]:focus,
input[type="text"][name="cardNumber"]:focus,
input[type="text" ][name="expiryDate"]:focus,
input[type="text"][name="cvc"]:focus,
input[type="text"][name="nameOnCard"]:focus{
  outline: none; 
  border-color: #6CA6CD; 
  box-shadow: 0 0 3px rgba(108, 166, 205, 0.5); 
}

/* Confirm */
.container-confirm{
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 8px;
  border: #000000;
  max-width: 800px;

}
.thankYou{
  display: flex;
  justify-content: center;
  text-align: center;
}
.summary-confirm{
  margin-bottom: 20px;
}
.summary-bottom{
  display: flex;
  justify-content: center;
}
